
form {
    background-color: rgb(237, 239, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #929292;
    max-width: 400px;
    margin: 50px auto;
}

input[type=text], input[type=password],input[type=email] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #080808;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button{
    background-color: #000;
    color:#ffffff;
    width: 60%;
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
}

.avatar{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.cover{
    width: 100%;
}

.cont{
    padding-top: 30px;
}

.lead{
    font-size: 1px;
}