.card{
    width: 14rem;
    margin: 7px;
    margin-top: 15px;
}
.card-text{
    color: rgb(112, 112, 112);
}

.btn{
    border-radius:100px;
    box-shadow: 1px 1px 4px rgba(104, 104, 104, 0.525);
    

}