<div class="container">
    <app-button class="btnadd" (click)="newCourseClick()" text="New Course" color="" ></app-button>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses" >
        <td>{{ course?.id_course }}</td>
        <td><a (click)="onCourseClick(course)">{{ course?.title }}</a></td>
        <td>{{ course?.category }}</td>
        <td>{{ course?.author }}</td>
        <td>
            <button class="btn btn-outline-secondary" (click)="editCourse(course)" aria-label="Edit">
                <i class="fas fa-pencil-alt"></i>
            </button>
            
            <button class="btn btn-outline-danger m-1" (click)="deleteCourse(course)" aria-label="Delete">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
  